.singlePost{
    flex: 9;
    color: #e5d9c6;
}

.singlePostWrapper{
    padding: 20px;
    padding-right:0;
}

.singlePostImage{
    width: 100%;
    height: 500px;
    border-radius: 7px;
    object-fit: cover;  
}

.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-family: 'Noto Sans Chakma', sans-serif;
    font-size: 30px;
}

.singlePostEdit{
    margin-left: 20px;
    float: right;
    font-size: 24px;
    color: #e5d9c6;
}

.singlePostIconEdit{
    margin-right: 10px;
    cursor: pointer;
}

.singlePostIconDelete{
    cursor: pointer;
}

.singlePostIconDelete:hover{
    color: red;
}

.singlePostIconEdit:hover{
    color: teal;
}

.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #e5d9c6;
    font-family: 'Noto Sans Chakma', sans-serif;
}

.singlePostDescription{
    color: #e5d9c6;
    font-family: 'Noto Sans Chakma', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.singlePostDescription::first-letter{
    margin-left:20px;
    font-size: 30px;
    font-weight: 600;
    color: #e5d9c6;
}
