.searchBar{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
} 

.categories{
    display: flex;
}

@media screen and (max-width: 768px) {
    .categories {
      flex-direction: column;
    }
  
    .sidebar {
    flex: 0 0 100%;
    }
  }