.nav{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Noto Sans Chakma', sans-serif;
    z-index: 999; 
}

.navCenter{
    flex: 6;
    display: flex;
    align-items: center;
    justify-contents: center;
}

.navRight{
    flex: 1;
    display: flex;
    align-items: center;
    justify-contents: center;
}

.navLeft{
    flex: 6;
    display: flex;
    align-items: center;
    justify-contents: center;
}

.navIcons:hover, .searchIcon:hover{
    color: white;
}

.navIcons{
    font-size: 20px;
    margin-right: 10px;
    color: #e5d9c6;
    cursor: pointer;
}

.navList{
    display: flex;
    justify-contents: center;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #e5d9c6;
}




.navItem{
    margin-left: 5px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.searchIcon{
    font-size: 18px;
    color: #e5d9c6;
    cursor: pointer;
}
