.header{
    margin-top: 60px;
}

.headerItems{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans Chakma', sans-serif;
    color: #444;
}

.headerItemSmall{
    position: absolute;
    top: 10%;
    font-size: 25px;
    color: Blue;
}

.headerItemBig{
    position: absolute;
    top: 10%;
    font-size: 100px;
    color: Blue;
    background: padding-box;
}



.headerImage{
    width:100%;
    height: 450px;
    margin-top:80px;
    object-fit: cover;
}