.newPost{
    padding-top: 50px;
}

.newPostForm{
    position: relative;
}

.newPostFormGroup{
    margin-left: 150px;
    display: flex;
    align-item: center;
}


.fileInputButton{
    color: #e5d9c6;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 100px;
    font-size: 20px;
    cursor: pointer;
}

.newPostSubmit{
    color: #e5d9c6
}

.newPostInput{
    color: #e5d9c6;
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70%;
}

.newPostInput:focus{
    outline: none;
}

.newPostText{
    font-size: 20px;
    height: 100vh;

}

.newPostSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    color: #e5d9c6;
    background-color: blue;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    font-size: 16px;
}

.newPostImage{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.newPostFormGroup{
    margin-bottom: 10px;
}

@media screen and (max-width: 560px){
    .newPostSubmit{
        position: absolute;
        top: 20px;
        right: 10px;
        color: #e5d9c6;
        background-color: blue;
        padding: 10px;
        border: none;
        border-radius: 10px;
        cursor:pointer;
        font-size: 16px;
    }
    .newPostImage{
        margin-left: 50px;
        width: 70vw;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
    }
}


@media screen and (max-width: 841px) {
    .newPostFormGroup {
      margin-bottom: 15px;
      flex-direction: column;
    }
  
    .newPostForm{
        display: flex;
        flex-direction: column;
    }

    .newPostSubmit{
        position: absolute;
        top: 20px;
        color: #e5d9c6;
        background-color: blue;
        padding: 10px;
        border: none;
        border-radius: 10px;
        cursor:pointer;
        font-size: 16px;
    }
  }