.post{
    width: 400px;
    margin: 0px 25px 40px 25px;
}

.postImg{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 7px;
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postCategories{
    color:  #0a70b8;
    font-family: 'Noto Sans Chakma', sans-serif;
    font-size: 11px;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer; 

}

.postTitle{
    color: #e5d9c6;
    font-family: 'Noto Sans Chakma', sans-serif;
    font-size: 24px;
    font-weight: 700px;
    margin-top: 15px;
    cursor: pointer;
}

.postDate{
    font-family: 'Noto Sans Chakma', sans-serif;
    color: #e5d9c6;
    font-style: italic;
    font-size: 12px;
    margin-top: 15px;
}

.postDescription{
    color: #e5d9c6;
    font-family: 'Noto Sans Chakma', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}